.call-button {
    background-color: rgba(50, 54, 63, 0.75);
    color: white;
    padding: 16px 20px;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 156, 13);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    right: 268px;
    height: 100px;
    width: 100px;
}

.raise-button {
    background-color: rgba(50, 54, 63, 0.75);
    color: white;
    padding: 16px 20px;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 156, 13);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    right: 388px;
    height: 100px;
    width: 100px;
}

.check-button {
    background-color: rgba(50, 54, 63, 0.75);
    color: white;
    padding: 16px 20px;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 156, 13);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    right: 148px;
    height: 100px;
    width: 100px;
}

.fold-button {
    background-color: rgba(50, 54, 63, 0.75);
    color: white;
    padding: 16px 20px;
    border: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 28px;
    right: 28px;
    height: 100px;
    width: 100px;
}

.raise-popup {
    display: block;
    position: absolute;
    bottom: 28px;
    right: 508px;
    z-index: 9;
}

.raise-form-container {
    max-width: 200px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: rgb(30, 156, 13);
    border-radius: 4px;
    background-color: rgba(50, 54, 63, 0.75);
}

.raise-form-container input[type=number] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 5px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.btn-container .btn {
    background-color: #04AA6D;
    color: #ddd;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 30%; 
    margin-bottom: 2px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-container .cancel {
    background-color: red;
}

.btn-container .btn:hover, .open-button:hover {
    opacity: 1;
}