.join-game-button {
    background-color: rgb(30, 156, 13);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 137px;
    right: 28px;
    width: 150px;
}

.exit-game-button {
    background-color: rgb(236, 88, 88);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 23px;
    right: 28px;
    width: 150px;
}