.player-slot:nth-of-type(1) {
    transform: translateX(515px) translateY(-45px);
}
  
.player-slot:nth-of-type(2) {
    transform: translateX(-760px) translateY(-45px);
}
  
.player-slot:nth-of-type(3) {
    transform: translateX(410px) translateY(-257px);
}
  
.player-slot:nth-of-type(4) {
    transform: translateX(410px) translateY(165px);
}
  
.player-slot:nth-of-type(5) {
    transform: translateX(-655px) translateY(-257px);
}
  
.player-slot:nth-of-type(6) {
    transform: translateX(-655px) translateY(165px);
}
  
.player-slot:nth-of-type(7) {
    transform: translateX(110px) translateY(255px);
}
  
.player-slot:nth-of-type(8) {
    transform: translateX(-350px) translateY(255px);
}
  
.player-slot:nth-of-type(9) {
    transform: translateX(110px) translateY(-345px);
}
  
.player-slot:nth-of-type(10) {
    transform: translateX(-350px) translateY(-345px);
}