.card {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.player-slot {
    position: absolute;
    border: white solid;
    border-color: gray;
    background-color: rgba(50, 54, 63, 0.6);
    border-radius: 10px;
    width: 280px;
    height: 125px;
    z-index: 2;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

.empty-player-slot {
    position: absolute;
    visibility: hidden;
    border-radius: 10px;
    width: 280px;
    height: 125px;
    z-index: 2;
}

.card-slot1 {
    position: absolute;
    border-radius: 10px;
    width: 75px;
    height: 110px;
    top: 5px;
    left: 5px;
    z-index: 3;
}

.card-slot2 {
    position: absolute;
    border-radius: 10px;
    width: 75px;
    height: 110px;
    top: 5px;
    left: 50px;
    z-index: 3;
}

.username {
    top: 15px;
    right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    font-size: 17px;
}

.player_chip {
    top: 50px;
    right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
}

.hand_strength_container {
    width: 120px;
    height: 20px;
    border-radius: 30px;
    border: 3px hidden;
    background-color: rgba(199, 6, 6, 0.75);
    bottom: 15px;
    right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    text-align: center;
}

.hand_strength {
    margin-top: 2px;
    width: 100%;
    position: absolute;
    color: whitesmoke;
    font-size: 12px;
}

.achievement {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.achievement-slot-0 {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    z-index: 3;
    transform: translateX(150px) translateY(-18px);
}

.achievement-slot-1 {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    z-index: 3;
    transform: translateX(190px) translateY(-18px);
}

.achievement-slot-2 {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    z-index: 3;
    transform: translateX(230px) translateY(-18px);
}

.achievement-slot-0 .tooltiptext-achievement {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-size: 10px;
    z-index: 4;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.achievement-slot-1 .tooltiptext-achievement {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-size: 10px;
    z-index: 4;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.achievement-slot-2 .tooltiptext-achievement {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-size: 10px;
    z-index: 4;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.achievement-slot-0:hover .tooltiptext-achievement {
    visibility: visible;
    opacity: 1;
}

.achievement-slot-1:hover .tooltiptext-achievement {
    visibility: visible;
    opacity: 1;
}

.achievement-slot-2:hover .tooltiptext-achievement {
    visibility: visible;
    opacity: 1;
}

.timer_container {
    bottom: 2px;
    position: absolute;
}


