#timer {
    position: absolute;
    color: goldenrod;
    z-index: 3;
}

.timer_bar_container {
    height: 7px;
    width: 280px;
    border-radius: 10px;
}

.timer_bar {
    height: 100%;
    background-color: blueviolet;
}